body {
background-color: black;

}

.poster {
width: 50%;
margin-left: 25%;
text-align: center;
margin-top: 200px;
color: white
font-family:"Libre Baskerville", serif;

}

.merganser-img {

max-width: 100%;
border: solid 5px;
border-color: white;


}

h1 {
color: white;
font: "Libre Baskerville";
text-transform: uppercase;
font-size: 3rem;


}

p{

color: white;
font: "Libre Baskerville"
}